<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <form class="col s6 offset-s3">
                <div class="input-field row">
                    <input placeholder="Email" id="first_name" type="email" class="validate" ng-model="login.email">
                </div>
                <div class="input-field row">
                    <input placeholder="Password" id="password" type="password" class="validate" ng-model="login.password">
                </div>
                <a class="btn waves-effect waves-light" ng-click="fnlogin()">Login
					<i class="material-icons right">send</i>
				</a>
            </form>
        </div>
    </div>
</div>
